* {
    font-size: 105%;
    color: #555454;
    margin: 0px;
    padding: 0px;
    background: url("../backgroud/backgroundSite.jpg") fixed;
}

body {
    width: 80%;
    margin: auto;
}

#body {
    margin-top: 2%;
    margin-bottom: 2%;
}

.rated {
    background: rgba(0, 0, 0, 0.65);
    padding: 1.5% 1.5% 1.5% 6%;
    margin-bottom: 0px;
}
.img {
    width: 166px;
}
.title, .description {
    position: relative;
    margin-left: 200px;
    width: 65%;
    height: 0px;
    bottom: 235px;
    word-wrap: break-word;

}

.description {
    margin-top: 40px;
    height: auto;
    background: rgba(0, 0, 0, 0.0);

/*
     top: 200px;
     right: 300px;

     width: 60%;
     margin-bottom: 1%;
 */
}