* {
    font-size: 105%;
    color: #555454;
    margin: 0px;
    padding: 0px;
    background: url("../backgroud/backgroundSite.jpg") fixed;
}

body {
    width: 80%;
    margin: auto;
}

#body {
    margin-top: 2%;
    margin-bottom: 2%;
    background: rgba(0, 0, 0, 0.5);
}

.rated, .rated div, a {
    background: rgba(0, 0, 0, 0);
}

.search {
    border-radius: 25px;
    background: rgba(0, 0, 0, 0);
    height: 40px;

}

#search {
    float: right;
    border-radius: 15px;
    background: inherit;
    border: 0px;
    background: white;
    color: black;
    margin-top: 10px;
}

.rated {
    min-height: 260px;
}

.img {
    float: left;
    margin-right: 10px;
    margin-top: 10px;
    margin-left: 10px;
}

.title {
    padding-top: 7px;
    margin-right: 10px;
}

a {;
}

.description {
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    padding-bottom: 20px;
}